.xyz {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 20px;

}

.header {
    display: block;
    text-align: center;
}

#shadow {
    font-size: 20px;
}